<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Człowiek: <%= @name %>, email: <%= @email %> </h1>
<p>
tel: <%= @phone_number %>
  </br>
body part: <%= @part %>
  </br>
size: <%= @size %>
  </br>
project: <%= @project %>
  </br>
date: <%= @date %>


</p>
</body>
</html>