<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB_3H3d8Ydypuak_KViEtYlbhgc_91ZBd0"></script>

    <%=stylesheet_link_tag 'application', media: 'all' %>
    <%=javascript_include_tag 'application' %>
    <%=csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="mastermind">
    <meta name="author" content="thekkarol">

  <title>The artrist The creator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" /> -->

</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="50">

<div id="preloader">
    <div class="preloader">
      <div class="preloader-content">
        <canvas id="noise" class="noise"></canvas>
        <h2>ładuję zdjęcia</h2>
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
      </div>
    </div>
</div>

<section class="hero-area">
    <div class="block">
      <!--<h2> Otyszecki</h2>-->
        <div class="logo-button">
            <!--<i class="tf-ion-play"></i>-->
          M
        </div>
        <h1></h1>
        <p> TATTO | ART | WARSZAWA </p>
        <a data-scroll href="#theartist" class="btn btn-transparent">OTYSZECKI</a>
    </div>
</section>

<header id="navigation" class="navbar navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand logo" href="#body">
                <!-- <img src="assets/logo.png" alt="Website Logo" /> -->
              <div class="logo-button nav">
                M
              </div>
            </a>
        </div>

        <nav class="collapse navbar-collapse navbar-right" role="Navigation">
            <ul id="nav" class="nav navbar-nav navigation-menu">
                <!--<li><a data-scroll href="#body">HOME</a></li>-->
                <li><a data-scroll href="#theartist">THE ARTIST</a></li>
                <li><a data-scroll href="#tattoo">TATUAŻ</a></li>
                <!--<li><a data-scroll href="#art">ART</a></li>-->
                <li><a data-scroll href="#contact">KONTAKT</a></li>
                <li><a href="#/" data-toggle="modal" data-target="#myModal">ZAPISY</a></li>
            </ul>
        </nav>

    </div>
</header>

<section class="bg-one about section" style="padding-bottom: 10px;padding-top:50px;" id="theartist">
  <div class="container">
    <div class="row">

      <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
        <h2>The <span class="color">Artist</span> </h2>
        <div class="border"></div>
      </div>

    </div>
  </div>
</section>


<section class="section about-2 padding-0 bg-dark" id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 padding-0 ">
        <img class="img-about" src="assets/about/about-business-man.jpg" alt="">
      </div>
      <div class="col-md-6">
        <div class="content-block">
          <h1>Otysz Otyszecki</h1>
          <p>Zdobienie ciała wypływa z głębi własnego ja, chęci urzeczywistnienia naszej prawdziwej natury.
            Zawsze powinno być połączone z zaufaniem: do siebie samego i tatuażysty, w tej kolejności.
            <br><br>
            Tatuuję w zaufaniu o swoje zdolności nabyte przez lata warsztatem rysunkowym oraz graficznym.
            Tatuaż traktuję jak ostateczną formę mojej sztuki, której podłożem są autorskie projekty w stylu,
            który wolę nazywać medieval.
            <br>
            Inspiracją w dużej mierze są: strożytna oraz średniowieczna
            mitologia i sztuka sakralna.</p>
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="pull-left">
                  <i class="tf-circle-compass"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">style</h4>
                  <p>- neotradycyjny <br>
                    - blackwork<br>
                    - oldschool<br>
                    - minimalizm</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="pull-left">
                  <i class="tf-hotairballoon"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">media</h4>
                  <p>
                    <a href="https://www.facebook.com/otysz/" >
                      <i class="tf-ion-social-facebook" style="font-size: 14px;     margin-right: 2px;"></i> facebook

                    </a>
                  <br>
                    <a href="https://www.instagram.com/otyszecki/" >
                      <i class="tf-ion-social-instagram" style="font-size: 14px;     margin-right: 2px;"></i> instagram
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-one about section">
    <div class="container">
        <div class="row">

            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
              <a data-scroll href="#tattoo"> <div class="block">
                    <div class="icon-box">
                        <i class="tattoo-icon"></i>
                    </div>

                    <div class="content text-center">
                      <h3 class="ddd">TATUAŻ</h3>
                   </div>
                </div> </a>
            </div>

            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
              <a href="#/" data-toggle="modal" data-target="#soonModal" >
                <div class="block">
                    <div class="icon-box">
                        <i class="art-icon"></i>
                    </div>

                    <div class="content text-center">
                        <h3>SZTUKA</h3>
                    </div>
                </div> </a>
            </div>

            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
              <a href="#/" data-toggle="modal" data-target="#soonModal" >
                <div class="block">
                    <div class="icon-box">
                        <i class="knight-icon"></i>
                    </div>

                    <div class="content text-center">
                        <h3>DZIAŁALNOŚĆ</h3>
                    </div>
                </div> </a>
            </div>

        </div>
    </div>
</section>


<section class="call-to-action section-sm bg-1 overly">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!--<h2> Great Design & Incredible Quality </h2>-->
                <!--<p>  A tattoo is graffiti on the temple of the body. <br> Strong and one of a kind. </p>-->
                <a href="#contact" data-toggle="modal" data-target="#myModal" class="btn btn-main write-for-visit">Zapisz się na sesję</a>
            </div>
        </div>
    </div>
</section>

<div class="modal fade dark" id="soonModal" role="dialog" >
  <section class="modal-dialog" style="width:400px">

    <div class="modal-content">
      <div class="modal-header" style="     color: white; border: 1px solid #CC7722; " >
       Wkrótce! <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </section>
</div>
</div>


<div class="modal fade dark" id="myModal" role="dialog">
  <section class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Zgłoś się na sesję</h4>
      </div>
      <div class="modal-body">
            <div class="row">

              <div class="contact-form col-md-12">
                <form id="contact-form" method="post" action="sendmail.php" role="form">

                  <div class="col-md-7">

                    <div class="form-group">
                      <input type="text" placeholder="imię" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                      <input type="email"  placeholder="email" class="form-control" id="email" name="email">
                    </div>

                    <div class="form-group">
                      <input type="phone_number" placeholder="telefon" class="form-control" placeholder="000-00-00" id="phone_number" name="phone_number">
                    </div>

                    <div class="form-group">
                      <input type="part" placeholder="część ciała" class="form-control" id="part" name="part">
                    </div>

                    <div class="form-group">
                      <input type="size" placeholder="rozmiar" class="form-control" id="size" name="size">
                    </div>

                    <div class="form-group">
                      <textarea rows="4" placeholder="projekt" class="form-control" name="project" id="project"></textarea>
                    </div>

                  </div>

                  <div class="col-md-5">

                    <div style="overflow:hidden;  height: 300px;">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <div id="datetimepicker12"></div>
                          </div>
                        </div>
                      </div>
                      <script type="text/javascript">
                          $(function () {
                              $('#datetimepicker12').datetimepicker({
                                  inline: true,
                                  sideBySide: false,
                                  locale: 'pl'
                              });
                          });
                      </script>
                    </div>

                    <div class="col-md-12" style="margin-top:25px">
                      <div id="appointment-mail-success" class=" col-md-12 success">
                        Wysłane!
                      </div>

                      <div id="appointment-mail-fail" class="col-md-12 error">
                        Niestety nie poszło. Sprawdź sieć i spróbuj jeszcze raz!
                      </div>
                    </div>

                    <div class="col-md-12" id="cf-appointment-submit">
                      <input type="submit" id="appointment-submit" class="btn btn-default appointment" value="Wyślij">
                    </div>

                  </div>

                  </form>

              </div>


            </div>
      </div>
    </div>
  </section>
  </div>
</div>


<section class="portfolio bg-one section" id="tattoo" style="padding-bottom: 70px;">
  <div class="container">
    <div class="row " >
      <div class="col-lg-12">


        <div class="title text-center">
          <h2>Tattoo <span class="color">portfolio</span></h2>
          <div class="border"></div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="portfolio-filter">
          <button type="button" data-mixitup-control data-filter="all">Wszystko</button>
          <button type="button" data-mixitup-control data-filter=".black">Czerń</button>
          <button type="button" data-mixitup-control data-filter=".color">Kolor</button>
          <button type="button" data-mixitup-control data-filter=".flash">Flash</button>
        </div>
      </div>
    </div>
    <div class="row portfolio-items-wrapper">
      <% ['black', 'color', 'zrzuta', 'flash'].each do |dir| %>
        <% Dir.glob("#{Rails.root}/app/assets/images/"+dir+"/*").sort.each do |image| %>

            <% icon_base = File.basename(image) %>
            <div class="mix col-md-4 <%=dir%>">
              <div class="portfolio-block image-popup" data-effect="mfp-with-zoom" href="assets/<%=dir%>/<%= icon_base %>" data-lightbox="<%= icon_base %>">
                <img class="img-responsive" src="assets/icons/<%=dir%>/<%= icon_base %>" alt="">
                <div class="caption">
                  <a class="search-icon" >
                    <i class="tf-ion-android-search"></i>
                  </a>
                  <!--<h4><a href="">Tattoo</a></h4>-->
                  <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p>-->
                </div>
              </div>
            </div>

        <% end %>
      <% end %>
    </div>

  </div>
</section>


<!--<section id="counter" class="parallax-section bg-1 section overly">-->
    <!--<div class="container">-->
        <!--<div class="row">-->


            <!--&lt;!&ndash;<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="counters-item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="tf-ion-android-happy"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span data-speed="3000" data-to="320">320</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3>Happy Clients</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--&lt;!&ndash;<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="counters-item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="tf-ion-archive"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span data-speed="3000" data-to="565">565</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3>Projects completed</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="counters-item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="tf-ion-thumbsup"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span data-speed="3000" data-to="95">95</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3>Positive feedback</h3>&ndash;&gt;-->

                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="counters-item kill-margin-bottom">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="tf-ion-coffee"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span data-speed="3000" data-to="2500">2500</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3>Joints smoked</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</div>-->
    <!--</div>-->
<!--</section>-->


<section id="contact" class="contact bg-one" style=" padding: 30px;">
    <div class="container">
        <div class="row" style="padding-bottom: 30px">

            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2> <span class="color">Kontakt</span></h2>
                <div class="border"></div>
            </div>

            <div class="contact-info col-md-4 wow fadeInUp" data-wow-duration="500ms">
                <h3>Dane kontaktowe</h3>
                <p></p>
                <div class="contact-details">
                    <div class="con-info clearfix">
                        <i class="tf-map-pin"></i>
                        <span>Borowego 15, Warszawa</span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="tf-ion-ios-telephone-outline"></i>
                        <span>Telefon: 737-467-508</span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="tf-ion-ios-email-outline"></i>
                        <span>Email: otyszm@gmail.com</span>
                    </div>
                </div>
            </div>

            <div class="contact-form col-md-8 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <form id="contact-form" method="post" action="sendmail.php" role="form">

                  <div class="form-group">
                    <div class="col-md-6 form-group">
                      <input type="text" placeholder="imię" class="form-control" name="name" id="name">
                    </div>
                    <div class="col-md-6 form-group">
                      <input type="email" placeholder="email" class="form-control" name="email" id="email">
                    </div>
                  </div>

                    <div class="form-group">
                        <input type="text" placeholder="temat" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="wiadomość" class="form-control" name="message" id="message"></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        Wysłane! Odpowiem wkrótce.
                    </div>

                    <div id="mail-fail" class="error">
                        Niestety nie poszło. Sprawdź sieć i spróbuj jeszcze raz!
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="Wyślij">
                    </div>

                </form>
            </div>

        </div>
    </div>

    <div class="google-map">
        <div id="map-canvas"></div>
    </div>

</section>


<footer id="footer" class="bg-one">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="500ms">
            <div class="col-lg-12">

                <div class="social-icon">
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/otysz/"><i class="tf-ion-social-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/otyszecki/"><i class="tf-ion-social-instagram"></i></a></li>
                        <!--<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>-->
                        <!--<li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>-->
                        <!--<li><a href="#"><i class="tf-ion-social-youtube"></i></a></li>-->
                        <!--<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>-->
                        <!--<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>-->
                        <!--<li><a href="#"><i class="tf-ion-social-pinterest-outline"></i></a></li>-->
                    </ul>
                </div>

                <div class="copyright text-center">
                    <a href="#body">
                      <div class="logo-button">
                        <!--<i class="tf-ion-play"></i>-->
                        M
                      </div>
                    </a>
                    <br />
                </div>


            </div>
        </div>
    </div>
</footer>

</body>
</html>