!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable:no', 'name': 'viewport'}
    %script(src="https://maps.google.com/maps/api/js?sensor=false")
    %title
      The Artist The Creator
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
  %body
    = yield


